html, body{
	margin: 0;
	padding: 0;
}

a{
/*	background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, #CCC 50%);
	background-position: 0 0;
	background-size: 200% auto;
	transition: background-position .5s;*/
	background-image: linear-gradient(180deg,transparent 0,#D4F8F1 0);
	background-position: 0 .8em;
    background-repeat: no-repeat;
    transition: background-position .08s ease-out!important;
    box-shadow: none!important;
    padding: 0!important;
    text-decoration: none;
    color: black;
}

a:hover{
	background-position: 0 0em;
}

#details--categories{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	margin-top: 20px;
	height: auto;
	transition: height 5s;
	width: 620px;
	margin-right: 0px;

}

#characterDetails{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	margin-top: 2rem;
	height: auto;
	transition: height 5s;
}

#characterDetails.is-hidden{
	height: 0px;
	overflow: hidden;
}

.g-title{
	display: flex;
	justify-content: space-between;
}

.g-group{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0.5rem;
	height: auto;
}

.g-user__entry{
	display: flex;
	justify-content: space-between;
	width: 180px;
	margin: 0 auto;
}

.g-title__entry{
	display: flex;
	align-items: center;
  	justify-content: flex-end;
  	flex-direction: column;
	width: 180px;
	margin: 0;
}

.input--title{
	width: 100%;
	margin: 0 auto 20px auto;
	font-family: 'Muli', sans-serif;
	font-size: 14px;
}

.label--title{
	margin-top: 20px;
	font-family: 'Muli', sans-serif;
	font-size: 20px;
}


.character--label{
	width: 250px;
	margin-left: 57px;
	margin-right: 20px;
	text-transform: capitalize;
	font-family: 'Muli', sans-serif;
	font-size: 14px;
	vertical-align: middle;

}

.input{
	width: 180px;
	margin: 0 auto;
	font-family: 'Muli', sans-serif;
	font-size: 14px;
}

::placeholder{
	color: #b0b0b0;
}

.button--updateTitle{
	border-top:   none;
	border-left:  none;
	border-right: none;
}

.sortButton.is-active{
	background-color: #4CAF50; 
}

.circleEncl{
	fill: none;
	stroke-dasharray: 2;
	stroke-width: 2px;
	stroke: #7F99D8;
}

.header{
	height: 120px;
	margin: 0;
	width: 100%;
	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-direction: column;
  	transition: height 0.35s;
	-webkit-transition: height 0.35s;
	-o-transition: height 0.35s;
}

.header--title{
	margin: 0 auto;
	font-family: 'Space Mono', monospace;
	font-weight: bold;
	font-size: 40px;
	text-align: center;
}

.header--attribution{
	margin: 0 auto;
	font-family: 'Muli', sans-serif;
	font-size: 12px;
	text-align: center;
}

.shrunk{
	height: 65px;
}

.intro{
	max-height: 300px;
	background-image: url("paper_fibers_highres.png");
	background-size: cover;
	overflow: hidden;
	transition: max-height 0.35s;
	-webkit-transition: max-height 0.35s;
	-o-transition: max-height 0.35s;
}

.collapsed{
	max-height: 0px;
}

.intro--wrapper{
	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-direction: row;
  	height: 300px;
}

.intro--image{
	max-height: 275px;
}

.intro--text{
	font-family: 'Muli', sans-serif;
	max-width: 500px;
}

.intro--head{
	text-transform: uppercase;
	font-size: 28px;
}

.head__strong{
	font-weight: 900;
	letter-spacing: 1px;
}

.fileUpload{
	display: flex;
	align-items: center;
  	justify-content: center;
  	flex-direction: column;
  	margin-top: 50px;
}

.file--container{
	overflow: hidden;
    position: relative;
    max-width: 360px;
    max-height: 80px;
    border-width: 4px;
    border: solid;
    border-color: black;
    font-family: 'Muli', sans-serif;
    font-weight: 900;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 25px 65px;
	display: flex;
	align-items: center;
	font-size: 24px;
	background-image: linear-gradient(180deg,transparent 0,#D4F8F1 0);
	background-position: 0 80px;
    background-repeat: no-repeat;
    transition: background-position .08s ease-out!important;
    box-shadow: none!important;
    text-decoration: none;
    color: black;
}

.file--container__label{
	padding: 0;
	margin: 0;
}

.uploaded{
	max-height: 60px;
	max-width: 280px;
	padding: 20px 45px;
	font-size: 20px;
}

.file--container:hover{
	background-position: 0 0em;
}


.file--container [type=file] {
    cursor: inherit;
/*    display: block;*/
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 360px;
    min-width: 80px;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
}

.file--container {

}

.file--container [type=file] {
    cursor: pointer;
}

.fileUpload--formats{
	font-family: 'Muli', sans-serif;
	font-size: 14px;
	font-weight: 700;
	margin: 25px 0 5px 0;
}

.fileUpload--disclaimer{
	font-family: 'Muli', sans-serif;
	font-size: 12px;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 50px;

}

.footer{
	height: 200px;
	background-color: #444444;
}

.form{
	margin: 0 auto;
	height: 0px;
	overflow: hidden;
	transition: max-height 0.35s;
	-webkit-transition: max-height 0.35s;
	-o-transition: max-height 0.35s;
}

.form--expanded{
	height: auto;
}

.form--header{
	display: flex;
  	align-items: baseline;
  	justify-content: center;
  	flex-direction: row;
  	max-width: 960px;
  	margin: 0 auto;
}

.form--label{
	font-family: 'Muli', sans-serif;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 700;
}

.step--bold{
	font-weight: 900;
}

.form--description{
	max-width: 500px;
	font-family: 'Muli', sans-serif;
	font-size: 14px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 20px;
}

.form--wrapper{
	max-height: 500px;
	width: 100%;
	background-color: #eeeeee;
	border-top: 1px solid #aaaaaa;
	border-bottom: 1px solid #aaaaaa;
	transition: max-height 0.35s;
	-webkit-transition: max-height 0.35s;
	-o-transition: max-height 0.35s;
}

.wrapper--collapsed{
	max-height: 0px;
}

.form--details{
	display: flex;
	flex-direction: row;
	max-width: 960px;
	margin: 0 auto;
}

.form--details__text{
	display: flex;
	flex-direction: column;
	max-width: 317px;
	margin-right: 20px;
}

.label--description{
	font-family: 'Muli', sans-serif;
	font-size: 12px;
	padding-right: 30px;
}

.form--expand{
	display: flex;
  	align-items: center;
  	justify-content: flex-end;
  	flex-direction: row;
  	flex: 1;
    color: #aaaaaa;
}

.form--expand__button{
	margin-right: 15px;
	font-family: 'Muli', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 700;
}

.form--hidden{
	flex: 1;
	visibility: hidden;
}

.form--save{
	margin: 0 auto;
	display: flex;
	align-items: center;

}

.button{
	max-width: 280px;
    max-height: 60px;
    border-width: 4px;
    border: solid;
    border-color: black;
    font-family: 'Muli', sans-serif;
    font-weight: 900;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 20px 40px;
	display: flex;
	align-items: center;
	font-size: 20px;
	background-color: #ffffff;
	background-image: linear-gradient(180deg, transparent 0,#D4F8F1 0);
	background-position: 0 80px;
    background-repeat: no-repeat;
    transition: background-position .08s ease-out!important;
    color: black;
    margin: 30px auto;
}

.button:hover{
	background-position: 0 0em;
	cursor: pointer;
}



